# Import bibliotek

In [1]:
# manipulacja danymi
import pandas as pd

# Wczytanie zbiorów danych

In [2]:
quality_dataset = pd.read_csv('output/prepared_quality_dataset.csv', index_col=False)
quality_dataset = pd.concat([quality_dataset, pd.get_dummies(quality_dataset['CYKL'],
                                                             drop_first=False)],
                            axis=1)
quality_dataset.rename({1: 'Cykl_1', 2: 'Cykl_2'}, axis=1, inplace=True)
quality_dataset.drop(['Cykl_2'], axis=1, inplace=True)
quality_dataset

,index_process,Grupa_wanien,Obieg_cyrkulacyjny_elekrolitu,Obwod_pradowy,DATA ZAŁĄCZENIA GRUPY,DATA WYŁĄCZENIA GRUPY,CYKL,MASA GRUPY,Klasyfikacja_HMG-S,Klasyfikacja_Cu-CATH 1 Z,...,MASA WYTOPU,ENERGIA,WYDAJNOŚĆ,HMG,HMG_Liczba,HL,HL_Liczba,Czas,Czas_h,Cykl_1
0,0,44,6,3,2021-03-01 04:57:19,2021-03-11 05:56:59,1,78295,38,0,...,189.360,18077.0,95.99,1,1,0,0,10 days 00:59:40,241.0,1
1,1,65,9,5,2021-03-01 12:02:07,2021-03-13 18:28:09,2,97053,41,0,...,189.849,27014.0,99.40,0,0,1,4,12 days 06:26:02,294.0,0
2,2,46,6,3,2021-03-01 15:05:40,2021-03-13 04:49:38,2,92272,45,0,...,189.360,27351.0,98.51,1,2,0,0,11 days 13:43:58,278.0,0
3,3,81,11,6,2021-03-01 15:08:03,2021-03-13 10:59:50,2,96073,45,0,...,189.360,28133.0,99.01,1,3,0,0,11 days 19:51:47,284.0,0
4,4,85,11,6,2021-03-01 20:50:11,2021-03-12 17:20:54,1,84553,36,0,...,189.360,20461.0,95.05,1,1,0,0,10 days 20:30:43,261.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2442,2442,81,11,6,2022-02-18 22:58:50,2022-02-28 06:27:34,1,74573,36,0,...,189.360,17652.0,98.53,1,2,0,0,9 days 07:28:44,223.0,1
2443,2443,41,6,3,2022-02-18 23:04:30,2022-02-28 09:25:35,1,75756,36,0,...,189.360,18296.0,98.48,1,2,0,0,9 days 10:21:05,226.0,1
2444,2444,65,9,5,2022-02-19 06:32:00,2022-02-28 09:53:57,1,72845,35,0,...,189.360,16784.0,98.80,1,1,0,0,9 days 03:21:57,219.0,1
2445,2445,45,6,3,2022-02-19 06:34:22,2022-03-01 14:17:42,1,81130,35,0,...,189.360,20452.0,96.61,1,2,0,0,10 days 07:43:20,248.0,1
2446,2446,20,3,2,2022-02-19 22:07:57,2022-03-01 06:31:56,1,75349,39,0,...,189.360,18406.0,99.09,1,2,0,0,9 days 08:23:59,224.0,1